<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.pk.mybatis.mapper.EmployeeMapper">

<!--    void addEmployee(Employee employee);-->
    <insert id="addEmployee" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO employee VALUES(null,#{name},#{age},#{dpId})
    </insert>

<!--    int deleteByName(String name);-->
    <delete id="deleteByName">
        DELETE FROM employee WHERE name=#{name}
    </delete>

<!--    int updateDpIdByName(String name, int dpId);-->
    <update id="updateDpIdByName">
        UPDATE employee
        SET dp_id=#{dpId}
        WHERE name=#{name}
    </update>

<!--    Employee findById(int id);-->
    <select id="findById" resultType="Employee">
        SELECT * FROM employee
        WHERE id=#{id}
    </select>

<!--    List<Employee> findEmployeesByDpId(int dpId);-->
    <select id="findEmployeesByDpId" resultType="Employee">
        SELECT * FROM employee
        WHERE dp_id=#{dpId}
    </select>

<!--    int countByDpId(int dpId);-->
    <select id="countByDpId" resultType="integer">
        SELECT count(*) FROM employee
        WHERE dp_id=#{dpId}
    </select>

<!--    Employee findByPrefixName(String prefixName);-->
    <select id="findByPrefixName" resultType="Employee">
        SELECT * FROM employee
        WHERE name like #{prefixName}"%"
    </select>

</mapper>